 <!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">
	 <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>


<body>

	
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
	  <!-- Brand -->
	  <a class="navbar-brand" href="#">Enath School Of Computing</a>

	  <!-- Toggler/collapsibe Button -->
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  
	 <!---	  <div class="navbar-icons">
	  	  	             <a href="#" class="icon-link">
	  	  	                 <img src="/images/icon.png" alt="Icon" class="navbar-icon" />
	  	  	             </a>
	  	  	         </div>----> 

	  <!-- Navbar links -->
	  <div class="collapse navbar-collapse" id="collapsibleNavbar">
	    <ul class="navbar-nav">
	      <li class="nav-item">
	        <a class="nav-link"th:href="@{/students}">Home</a>
	      </li>
		  
		  <li class="nav-item">
		          <a class="nav-link"th:href="@{/contact}">Contact Us</a>
		        </li>
				<li class="nav-item">
				        <a class="nav-link"th:href="@{/about}">About Us</a>
				      </li>
				  <li sec:authorize="isAuthenticated()" class="nav-item">
			         <a class="nav-link" th:href="@{/logout}">Logout</a>
				   </li>
      </ul>
	  </div>
	  
	  
	</nav>
	
	<div class="container mt-5">
	       <div class="row">
	           <!-- Image Section -->
	           <div class="col-md-6">
	               <img src="/images/Contact.png" alt="Our School" class="img-fluid rounded">
	           </div>

	           <!-- Text Section -->
	           <div class="col-md-6">
	               <h2>Contact Us</h2>

	
	        <address>
	             Estate  <br>
	            Kosmosdal,<br>
	            Centurion 0157 <br>
	            Pretoria<br>
	            <i class="fas fa-phone"></i> <a href="tel:+27629740401">+27 62 000 0000</a><br>
	             
	            </a>
	        </address><br>

	        <h3>Contact Information</h3>
	        <p>
	            For <em>inquiries</em>, please email <a href="mailto:sales@marmcreations.co.za">sales@enathschool.co.za</a> <br>
	            website: <a href="https://www.marmcreations.co.za/" target="_blank">enath</a>
	        </p>

</body>
</html>